body {
	font-family: Verdana;
	background-size: cover;
	background-image: url(ljubicasta.jpg);
}

table {
	border-collapse: collapse;
	width: 50%;
}

table {
	border: 1px solid black;
}

div.forma-holder, div.proizvodi-holder, div.proizvodjaci-holder,div.forma-holderSunce,div.proizvodi-holderSunce,div.forma-holder-proizvodjaci {
	display: none;
}

.save-edit, .cancel-edit, 
.save-edit-sunce, .cancel-edit-sunce,
.save-edit-proizvodjac, .cancel-edit-proizvodjac,
#dodaj-naocare, #otkazi-naocare,
#dodaj-naocareSunce, #otkazi-naocareSunce,#dodaj-proizvodjaca,#otkazi-proizvodjaca
 {
	display: none;
}

div.slajder {
    height: 455px;
	width: 100%;
    position:relative;
    background-size: cover;
    background-position: center;
}

