body {
	font-family: Verdana;
	background-image:url(pozadina.jpg);
	background-size:cover;
}

table {
    border-collapse: collapse;
	width: 50%;
}

table{
    border: 1px solid black;
}

div.forma-holder,div.proizvodi-holder,div.proizvodjaci-holder,div.dugmici{
	display: none;
}


.save-edit,
.cancel-edit{
	display: none;
}
div.slajder{

	width: 1000px;
	height: 454px;

}